div {
  width: 600px;

}

body {
  background-color: black;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 50px;
}

#create {
color: white;
border-radius: 25px;
background: rgba(255, 255, 255, 0.1);
height: 40px;
width: 150px;

}
